body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

h1,
h2 {
    color: #333;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin: 20px;
}

input[type="file"] {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #e26b6b;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

button {
    background-color: #e26b6b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c54e4e;
}

#metadados,
#dados {
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #e26b6b;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 30px;
    border-bottom: 2px solid #e26b6b;
    padding-bottom: 10px;
}